.con-fixed-h {
  position: relative;
  height: 48vw;
  max-height: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.pos-tr {
  width: 42%;
  float: right;
}

.pos-bl {
  position: absolute;
  top: 50%;
  left: 3%;
  width: 30%;
}

.clear {
  content: "";
  clear: both;
}

.row {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

/* TEMPLATE */

/* xs */

@media (min-width: 480px){
}

/* sm */

@media (min-width: 576px){
}

/* md */

@media (min-width: 768px){
}

/* lg */

@media (min-width: 992px){
}

/* xl */

@media (min-width: 1200px) {
}

/* xxl */

@media (min-width: 1400px) {
}

/* xxxl */

@media (min-width: 2000px) {
}