.con-fixed-h {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
}

.pos-tr {
  width: 42%;
  float: right;
}

.pos-bl {
  position: static;
  width: 30%;
  float: left;
  margin-top: -21%;
  margin-left: 7%;
}

.clear {
  content: "";
  clear: both;
}

.row {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.contact-col,
.about-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* TEMPLATE */

/* xs */

@media (min-width: 480px){
}

/* sm */

@media (min-width: 576px){
  .con-fixed-h {
    height: 48vw;
    max-height: 600px;
    grid-template-columns: 1fr 1fr;
  }

  .pos-bl {
    position: absolute;
    top: 50%;
    left: 5%;
    width: 60%;
    float: none;
    margin-left: unset;
    margin-top: unset;
  }
}

/* md */

@media (min-width: 768px){
}

/* lg */

@media (min-width: 992px){
}

/* xl */

@media (min-width: 1200px) {
}

/* xxl */

@media (min-width: 1400px) {
}

/* xxxl */

@media (min-width: 2000px) {
}