/* inherit border-box on all elements in the universe and before and after
 */
 *, 
 *:before, 
 *:after {
   box-sizing: inherit;
 }

 .wrapper {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	float: none;
	background-color: #fff;
}

.main-photo {
  z-index: 1;
  position: absolute;
  top: 13%;
  left: 6%;
  width: 40%;
}

.pink-box {
  position: absolute;
  background-color: var(--pink);
  width: 29%; 
  height: 25%;
  top: 11%;
  left: 18%;
}