/* inherit border-box on all elements in the universe and before and after
 */
*, 
*:before, 
*:after {
  box-sizing: inherit;
}

body {
  font: 1em/1.4 'Montserrat', sans-serif;
}

.wrapper {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  float: none;
  background-color: #fff;
}

h1, h2, h3, h4 {
  font: 3.4em/1 'Bebas Neue', cursive;
  color: var(--green);
  margin: 0;
}

/* h3 {
  font-size: 2.5em;
} */

header {
  float: right;
  margin-right: 18%;
  margin-top: 9%;
}

.main-photo {
  z-index: 1;
  position: relative;
  /* top: 13%; */
  /* left: 9%; */
  width: 73%;
  margin-left: unset;
  margin-top: 3%;
}

.pink-box {
  position: absolute;
  background-color: var(--pink);
  width: 43%;
  height: 18%;
  top: 2%;
  left: 45%;
}

.green-box-t {
  width: 14%;
  height: 17px; 
  background-color: var(--green);
}

.green-box-b {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10%;
  height: 17px; 
  background-color: var(--green);
}

.green-box-tr-row {
  width: 10%;
  height: 36px;
  background-color: var(--green);
  justify-self: end;
  margin-top: 10px;
}

.green-box-tl-row {
  width: 10%;
  height: 36px;
  background-color: var(--green);
  margin-top: 10px;
}

.green-box-bl-row {
  width: 10%;
  height: 36px;
  background-color: var(--green);
}

.green-box-br-row {
  width: 10%;
  height: 36px;
  float: right; 
  background-color: var(--green);
}

.about-sqs {
  position: absolute;
  transform: rotate(90deg);
  left: 3%;
  width: 60%
}

.about-sqs-2 {
  position: absolute;
  bottom: -2%;
  left: 59%;
  width: 30%;
}

.about-img {
  margin: 8% 0% 6% 19%;
  width: 61%;
}

.about-desc {
  position: absolute;
  top: 35%;
  left: 21%;
}

.about-info {
  flex-grow: 1;
  width: 0;
  /* For more siblings add:  */
  /* break-after: always; */
}

.pink-ul {
  border-bottom: 8px solid var(--pink);
  padding: 0 .5rem .5rem .5rem;
}

.serv-h {

}

.ref-con,
.serv-con {
  margin: 9% 12% 0% 12%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10%;
}

.ref-img-con,
.serv-img-con  {
  height: 180px;
}

.serv-img-con {
  display: flex;
  justify-content: center;
  background-color: var(--pink);
}

.ref-img-con img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.serv-img-con img {
  width: 50%;
  align-self: center;
}

.serv-con-desc {
  margin: 3% 12% 2% 12%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10%;
}

.cont-sqs {
  position: absolute;
  top: 41%;
  left: 13%;
  width: 60%;
}

.cont-img {
  margin: 7% 0% 5% 26%;
  width: 61%;
  z-index: 1;
}

.cont-info-con {
  margin-left: 7%;
}

/* Media queries */

/* xs */

@media (min-width: 480px){
}

/* sm */

@media (min-width: 576px){
  .main-photo {
    width: 80%;
    margin-left: 18%;
    margin-top: 6%;
  }

  .pink-box {
    width: 47%;
    height: 27%;
    top: 5%;
    left: 53%;
  }

  header {
    margin-top: 3%;
  }

  .green-box-t {
    width: 20%;
    height: 21px;
  }

  .green-box-b {
    height: 21px;
  }
}

/* md */

@media (min-width: 768px){
  header {
    margin-right: 22%;
    margin-top: 6%;
  }

  h1 {
    font-size: 4.5em;
  }

  .green-box-t {
    height: 36px;
  }

  .green-box-b {
    height: 36px;
  }
}

/* lg */

@media (min-width: 992px){
  header {
    margin-right: 20%;
    margin-top: 9%;
  }

  h1 {
    font-size: 6em;
  }

  .green-box-t {
    height: 40px;
  }

  .green-box-b {
    height: 40px;
  }
}

/* xl */

@media (min-width: 1200px) {
}

/* xxl */

@media (min-width: 1400px) {
}

/* xxxl */

@media (min-width: 2000px) {
}