/* text alignment */

.r-ta-r {
  text-align: right;
}

.r-ta-c {
  text-align: center;
}

/* dispaly */

.r-d-g {
  display: grid;
}

.r-d-f {
  display: flex;
}

.r-d-b {
  display: block;
}

.r-d-i {
  display: inline;
}

.r-d-ib {
  display: inline-block;
}

.r-d-n {
  display: none;
}

/* position */

.r-p-r {
  position: relative;
}

/* MARGIN */ 

/* right */

.r-mr-1 {
  margin-right: 1rem;
}

/* top */

.r-mt-p4 {
  margin-top: 0.4rem;
}

.r-mt-2 {
  margin-top: 2rem;
}

.r-mt-14p {
  margin-top: 14%;
}

/* padding */

.r-pl-0 {
  padding-left: 0 !important;
}

.r-pr-1 {
  padding-right: 1rem !important;
}

.r-pr-3 {
  padding-right: 3rem !important;
}

.r-pr-4 {
  padding-right: 4rem !important;
}

.r-pb-p2 {
  padding-bottom: 0.2rem;
}

.r-px-p5 {
  padding-left: .5rem;
  padding-right: .5rem;
}

.r-px-p7 {
  padding-left: .7rem;
  padding-right: .7rem;
}

/* TEXT STYLE */

/* font sizing */

.r-fs-p95 {
  font-size: 0.95rem;
}

.r-fs-1 {
  font-size: 1rem;
}

.r-fs-2p5 {
  font-size: 2.5rem;
}

.r-fs-3 {
  font-size: 3rem;
}

.r-bold {
  font-weight: bold;
}

/* letter spacing */ 

.r-ls-5 {
  letter-spacing: 5px;
}

.r-ls-4  {
  letter-spacing: 4px;
} 

/* Media queries */

/* xs */

@media (min-width: 480px){
}

/* sm */

@media (min-width: 576px){
  .r-ta-u-sm {
    text-align: unset;
  }

  .r-d-b-sm {
    display: block;
  }
} 

/* md */

@media (min-width: 768px){
  .r-d-n-md {
    display: none !important;
  }

  .r-ta-u-md {
    text-align: unset;
  }

  .r-fs-1-md {
    font-size: 1rem;
  }
}

/* lg */

@media (min-width: 992px){
  .r-fs-3p7-lg {
    font-size: 3.7rem;
  }
}

/* xl */

@media (min-width: 1200px) {
}

/* xxl */

@media (min-width: 1400px) {
}

/* xxxl */

@media (min-width: 2000px) {
}