/* text alignment */

.r-ta-r {
  text-align: right;
}

.r-ta-c {
  text-align: center;
}

/* dispaly */

.r-d-g {
  display: grid;
}

.r-d-b {
  display: block;
}

.r-d-n {
  display: none;
}

/* position */

.r-p-r {
  position: relative;
}

/* margin */ 

.r-mr-1 {
  margin-right: 1em;
}

/* padding */

.r-pr-1 {
  padding-right: 1em !important;
}

/* letter spacing */ 

.r-ls-5 {
  letter-spacing: 5px;
}

/* Media queries */

/* xs */

@media (min-width: 480px){
}

/* sm */

@media (min-width: 576px){
  .r-ta-u-sm {
    text-align: unset;
  }

  .r-d-b-sm {
    display: block;
  }
}

/* md */

@media (min-width: 768px){
  .r-d-n-md {
    display: none !important;
  }

  .r-ta-u-md {
    text-align: unset;
  }
}

/* lg */

@media (min-width: 992px){
}

/* xl */

@media (min-width: 1200px) {
}

/* xxl */

@media (min-width: 1400px) {
}

/* xxxl */

@media (min-width: 2000px) {
}